<nav aria-label="breadcrumb">
   <ol class="breadcrumb bg-light">
      <li class="breadcrumb-item font-weight-bold">
         <a class="text-center" href="https://github.com/sandorex/cheatsheets"><img style="border-radius: 50%;" src="{{ "/assets/github-mark-dark.png?v=" | append: site.github.build_revision | relative_url }}" width="30" height="30" alt=""></a>
         <a class="nice-link" href="{{ site.baseurl }}/index.html">Cheatsheets</a>
      </li>

      {% assign segments = page.dir | remove_first: "/" | split: "/" %}
      {% for segment in segments %}
      {% if forloop.last %}
         <li class="breadcrumb-item active" aria-current="page">{{ segment }}</li>
      {% else %}
         {% assign link = site.baseurl | append: "/" %}
         {% assign length = forloop.index | minus: 1 %}
         {% for i in (0..length) %}
            {% assign link = link | append: segments[i] | append: "/" %}
         {% endfor %}
         <li class="breadcrumb-item"><a class="nice-link" href="{{ link }}">{{ segment }}</a></li>
      {% endif %}
      {% endfor %}
   </ol>
</nav>
